<h1>Login successful</h1>
   <h6 class="mb-0 text-white lh-100">Balai Perkibulan Chat <small>v1.0</small></h6>
<%= image_tag(current_user.image) %>

<table class="table">
  <tbody>
    <tr>
      <th style="width: 120px">UID</th>
      <td><%= current_user.uid %></td>
    </tr>
    <tr>
      <th>Provider</th>
      <td><%= current_user.provider %></td>
    </tr>
    <tr>
      <th>Email</th>
      <td><%= current_user.email %></td>
    </tr>
    <tr>
      <th>Display</th>
      <td><%= current_user.display_name %></td>
    </tr>
  </tbody>
</table>

<%= link_to('Sign out', destroy_user_session_path, :method => :delete) %>