<div class="container">
  <div class="row">
    <h1>Login successful</h1>
   <h6 class="mb-0 text-white lh-100">Balai Perkibulan Chat <small>v1.0</small></h6>
<%= image_tag(current_user.image) %>

<table class="table">
  <tbody>
    <tr>
      <th style="width: 120px">UID</th>
      <td><%= current_user.uid %></td>
    </tr>
    <tr>
      <th>Provider</th>
      <td><%= current_user.provider %></td>
    </tr>
    <tr>
      <th>Email</th>
      <td><%= current_user.email %></td>
    </tr>
    <tr>
      <th>Display</th>
      <td><%= current_user.display_name %></td>
    </tr>
  </tbody>
</table>

<%= link_to('Sign out', destroy_user_session_path, :method => :delete) %>
  </div>
</div>
<br/>

<% if @chats.present? %>
<ul>
  <% @chats.each do |c| %>
  <li>
    <b><%= c.user.display_name %></b> - <%= c.message %>
  </li>
  <% end %>
</ul>
<% end %>

<br/>
<br/>
<%= form_with(model: @chat, remote: true) do |form| %>

  <%= form.hidden_field :user_id, value: current_user.id %>

  <div class="field">
    <%= form.label :message %>
    <%= form.text_field :message %>
  </div>

  <div class="actions">
    <%= form.submit "Send" %>
  </div>
<% end %>